<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="stylesheet" href="/static/fancyInput.css">
        <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <!--<script src="jquery.min.js"></script>-->
        <script src="/static/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/static/fancyInput.js"></script>
        <title>Sounding Poetry of Perception</title>
    </head>
    <body>
    <br />
	<h1>Sounding poetry of perception</h1>
	<p>Please enter text to hear heaven sounds:</p>
    <br />
        <form action="/" method="POST" autocomplete="off" onsubmit="sendText()">
            <section class='textarea'>
                <div>
                     <textarea name="poetry" cols="1" rows="6">enter your poem here ...</textarea>
                </div>
            </section>
            </br>
            <section>
		<p class="compose">
	             <input type="submit" name="Compose" value="Compose">
		</p>
            </section>
        </form>
        <div style="margin-top:70px;">
        {% if result %}
	    You entered: {{ result }}
        {% endif %}
        </div>
        <script>
            function sendText(){
            var x=document.forms["poetry"]["Compose"].value;
            var websocket=new WebSocket('ws://127.0.0.1:9998');
            websocket.onopen = function(event) {
                websocket.send('start');
            };
        </script>
        <script>
            $('div :input').fancyInput();
        </script>
    </body>
</html>
