<html>
    <head>
        <title>sounding poetry of perception</title>
    </head>
    <body>
	<h1>Sounding poetry of perception</h1>
	<p>Please enter text to hear heaven sounds:</p>
        <form action="/" method="POST">
            <input type="text" name="poetry" size="40" value="Please enter Your text here." autofocus>
	    <input type="submit" value="Submit">
            <input type="submit" name="sound_off" value="Sound OFF">
        </form>
        {% if result %}
	    You entered: {{ result }}
        {% endif %}
    </body>
</html>
